.light {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
    height: 50px;
    filter:blur(12em) brightness(70%);
    background-color: #4c6ef5;
    animation-name:bottomLight;
    animation-duration:16s;
    animation-iteration-count:infinite;
}
@media (prefers-reduced-motion){
    .light {
        animation:none;
    }
}
@keyframes bottomLight {
    0% {
        background-color: #4c6ef5;
    }
    50% {
        background-color: #7950f2;
    }
    100% {
        background-color: #4c6ef5;
    }
}
