.margin_inner {
    margin-inline: 20%;
}
.genre_details {
    position:relative;
}
.table_of_contents {
    position:sticky;
    top:calc(60px + 1rem);
}
.breadcrumbs {
    padding: 1rem 0;
}
.margin_outer {
    margin-inline:10%;
}
.similar {
    font-size: 1.5rem;
    text-transform: uppercase;
}
@media (max-width: 88em) {
    .genre_details {
        margin-inline: 15%;
    }
}
@media (max-width: 75em) {
    .genre_details{
        margin-inline:10%;
    }
}
@media (max-width: 62em) {
    .genre_details {
        margin-inline: 5%;
    }
}
@media (max-width: 48em) {
    .genre_details {
        margin-inline: 2%;
    }
}