.container_padding {
  padding: 0.5em 0.5em;
}
.include_dark {
  background: rgb(46,46,46);
  background: linear-gradient(90deg, rgba(64, 192, 87, 0.15) 50%, rgba(46,46,46,1) 75%);
}
.exclude_dark {
  background: rgb(46,46,46);
  background: linear-gradient(90deg, rgba(46,46,46,1) 25%, rgba(250,82,82,0.15) 50%);
}
.include_light {
  background: rgb(46,46,46);
  background: linear-gradient(90deg, rgba(64, 192, 87, 0.5) 50%, white 75%);
}
.exclude_light {
  background: rgb(46,46,46);
  background: linear-gradient(90deg, white 25%, rgba(250,82,82,0.50) 50%);
}