.container_padding {
    padding: 0.5em 0.5em;
    transition-duration: 0.2s;
    user-select:none;
}
.container_padding:hover{
    transform:scale(1.1);
}
.dark_hover:hover {
    background-color: rgba(255,255,255,0.04)
}
.light_hover:hover{
    background-color:rgba(0,0,0,0.06)
}

.include_dark,.exclude_dark,.include_light,.exclude_light {
    position: relative;
}

    .include_dark::before {
        content: "";
        left: 0.5em;
        top: 0;
        bottom: 0;
        width: 50px;
        position: absolute;
        background-color: rgba(64, 192, 87, 0.25);
        transform: scaleX(2);
        filter: blur(1em);
        z-index: -1;
    }

    .exclude_dark::before {
        content: "";
        right: 0.5em;
        top: 0;
        bottom: 0;
        width: 50px;
        position: absolute;
        background-color: rgba(192,64,64,0.25);
        transform: scaleX(2);
        filter: blur(1em);
        z-index: -1;
    }

    .include_light::before {
        content: "";
        left: 0.5em;
        top: 0;
        bottom: 0;
        width: 50px;
        position: absolute;
        background-color: rgba(64, 192, 87, 1);
        transform: scaleX(2);
        filter: blur(1em);
        z-index: -1;
    }

    .exclude_light::before {
        content: "";
        right: 0.5em;
        top: 0;
        bottom: 0;
        width: 50px;
        position: absolute;
        background-color: rgba(192,64,64,1);
        transform: scaleX(2);
        filter: blur(1em);
        z-index: -1;
    }
