.similar_card {
    position:relative
}
.similar_card {
    position:relative;
}
    .similar_card div {
        -webkit-box-shadow: 10px 4px 12px 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 10px 4px 12px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 10px 4px 12px 1px rgba(0, 0, 0, 0.4);
    }
    .similar_card div:hover {
        position: absolute;
        bottom: -50%;
        left: 0;
        height: fit-content;
    }
